<div class="login-register border-0" style="margin-top: 20%;">
        <div class="showcase">
          <h1 class="display-4"> Welcome To Our Family</h1>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, reprehenderit.
          </p>
        </div>
        <div class="btns">
          <div class="login">
            <div class="form-group">
              <input type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group text-center">
              <input type="password" class="form-control text-center" id="exampleInputPassword1" placeholder="Password">
              <a href="" class="btn btn-primary  btn-login"> Login </a>
            </div>
          </div>
          <p class="text-center text-muted">
            you dont have an account ! |
            <a href="{% url 'register' %}" class="text-center"> Register </a>  
          </p>
          
        </div>
        
      </div>