<main id="index">
      <div class="row container-fluid">
        <div class="col-8 ">
          <div class="titles ml-5">
            <p class="text-secondary mb-0 pb-0">Hellow! We're Creative</p>
            <p class="mt-0 pt-0">Web Developer & Designer</p>
          </div> 
          <div class="content ml-5">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam impedit cum unde sed saepe similique quidem fugit error, debitis at minus consectetur rerum officiis iure omnis illo. Magnam, ad, fuga.</p>
          </div> 
        </div>
        
      </div>
</main>




    <!-- <div class="members col-4">
          <div class="member-list col-12">
            <button class="btn btn-outline-primary view-members w-100" style="min-width:300px !important">View Members</button>
            <div class="members-container container-fluid w-100">
              <ul id="member-items" class="list-group">
                <li class="w-100 member-item list-group-item" ><a href="">Active item 1</a></li>
                <li class="w-100 member-item list-group-item" ><a href="">Active item 2</a></li>
                <li class="w-100 member-item list-group-item" ><a href="">Active item 3</a></li>
              </ul>
            </div>  
          </div>
          <div class="member-create">
            <button class="btn btn-outline-secondary create-member">Create Member</button>
            <div class="craeted-member">
              hamid
            </div>  
          </div>
        </div> -->