{% extends "base.html" %}


{% block script %}
    <script>
    $(document).ready(function(){
        $("form input").addClass("form-control")
    });
    </script>
{% endblock script %}

{% block base %}
<div class="col-md-6 offset-3" style="margin-top:8%;background-color: rgba(0,0,0, 0.4);border-radius: 1%;padding: 20px;color: white; ">
<div>
    <h1 class="text-center" style="font-weight: 100;">Register</h1>
</div>
<form method="POST" action=".">
{% csrf_token %}
<div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username }}
</div>
<div class="form-group">
    {{ form.email.label_tag }}
    {{ form.email }}
</div>
<div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
</div>
<div class="form-group">
    {{ form.password2.label_tag }}
    {{ form.password2 }}
</div>



<input type="submit" value="Register" class="btn btn-primary" />
</form>
</div>

{% endblock %}